.pln {
  color: #333;
}

/* string content */
.str {
  color: #333;
}

/* a keyword */
.kwd {
  color: #333;
}

/* a comment */
.com {
  color: #333;
}

/* a type name */
.typ {
  color: #333;
}

/* a literal value */
.lit {
  color: #333;
}

/* punctuation */
.pun {
  color: #333;
}

/* lisp open bracket */
.opn {
  color: #333;
}

/* lisp close bracket */
.clo {
  color: #333;
}

 a markup tag name 
.tag {
  color: #333;
}

/* a markup attribute name */
.atn {
  color: #333;
}

/* a markup attribute value */
.atv {
  color: #333;
}

/* a declaration */
.dec {
  color: #333;
}

/* a variable name */
.var {
  color: #333;
}

/* a function name */
.fun {
  color: #333;
}

/* specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
